main { 
    text-align: center;
    background: #eee;
    font-family: sans-serif;
}

#img-div >img{
    max-width:100%;
    display:block;
    height:auto;
    margin: 0 auto;
}

figcaption{
    margin: 10px 0;
}

#tribute-info{
    width: 50%;
    margin: 0 auto;
}

#tribute-info ul{
    text-align: left;
}

#tribute-info ul li{
    margin: 10px 0;
}